body {
  margin: 0;
}

body {
  background-image: url("../images/landing_images/decks_ply_bw_lrg.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

@media only screen and (max-width: 1024px;){
  body {
    background-image: url("../images/landing_images/decks_ply_bw_sm.jpg");
  }
}
/*sizes and layout of the main containers*/

#recent_reviews_container {
    margin-top: 7.5%;
    width: 100%;
}

header {
  margin-top: 3%;
}

/*styling for the large splash text*/

.header_text {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 6rem;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.italic {
  font-style: italic;
}

@media only screen and (max-width: 1000px){
  .header_text{
    font-size: 5rem;
  }
}

@media only screen and (max-width: 900px){
  .header_text {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 700px){
  .header_text {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 560px){
  .header_text {
    font-size: 2.75rem;
  }
}


footer {
  margin-top: 2%;
  clear: both;
  float: right;
}
