/*
fonts
  source sans 600
  montserrat 300 400 600
  */
html, body {
  overflow: hidden;
}

/*in responsive update - grid rows is 80 or 100px for navbar
  and then repeat(5,auto)*/

body {
  background-image: url("../images/real_bg.png");
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px repeat(5, auto);
  grid-template-areas:
    "navbar"
    "header"
    "figure"
    "circle_container"
    "slide_controls"
    "enter_button";
}

@media only screen and (min-width: 501px){
  body {
    grid-template-rows: 100px repeat(5,auto);
  }
}

header {
  grid-area: header;
  text-align: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 2.5%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 345px){
  header h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 700px){
  header h1 {
    font-size: 2.75rem;
  }
}

@media only screen and (min-width: 1500px){
  header h1 {
    font-size: 3.25rem;
  }
}

figure {
  grid-area: figure;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 900px){
  figure {
    width: 60%;
  }
}

@media only screen and (min-width: 1350px){
  figure {
    width: 50%;
  }
}

#circle_container {
  grid-area: circle_container;
}

@media only screen and (min-width: 1500px){
  #circle_container {
    margin-bottom: 0;
  }
}


#slide_controls {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-top: 2.5%;
  text-align: center;
  width: 100%;
  grid-area: slide_controls;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas:
    "left_arrow slide_title right_arrow";
}

@media only screen and (min-width: 1020px){
  #slide_controls {
    grid-template-columns: 40% 20% 40%;
  }
}

#slide_controls h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

#left_arrow {
  grid-area: left_arrow;
}

#slide_title {
  grid-area: slide_title;
}

#right_arrow {
  grid_area: right_arrow;
}

header h1 {
  display: inline-block;
}

figure img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.slide_circle {
  width: 20%;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 600px){

  .slide_circle {
    width: 15%;
  }
}


.slide_arrow {
  cursor: pointer;
  color: rgba(230, 133, 81, 1);
  -webkit-tap-highlight-color: transparent;
}

.slide_arrow:active {
  background-color: rgba(0, 0, 0, 0.7);
}


#slide_controls:active .slide_title {
  color: rgba(252, 127, 59, .8);
}



button {
  background-color: rgba(255, 239, 133, 1);
  border: 2px solid white;
  border-radius: 12px;
  margin: 10% auto 0 auto;
  width: 40%;
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 350px){
  button {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 1050px){
  button {
    margin-top: 7.5%;
  }
}

#enter_button {
  grid-area: enter_button
}

@media only screen and (min-width: 1500px){
  #enter_button {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1800px){
  #enter_button {
    margin-top: 2.5%;
  }
}

button:hover {
  background-color: rgba(255, 239, 133, 0.6);
}

#slider {
  color: white;
  position: absolute;
  top: 101vh;
  background-image: url("../images/real_bg_invert.png");
  background-size: cover;
  background-repeat: repeat-y;
}

#return_button {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
}

#slider h1, #slider h2{
  text-align: center;
  margin: 1% auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#slider p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1000px){
  #slider p {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1500px){
  #slider p {
    font-size: 1.4rem;
  }
}

/*query for longer mobile phone screens to fill empty space below enter_button
  make all elements slightly larger to stretch auto rows*/
@media screen and (min-width: 350px) and (max-width: 400px) and (min-height: 740px){
  header h1 {
    font-size: 2.5rem;
  }

  figure {
    margin-top: 8%;
    margin-bottom: 8%;
  }

  #circle_container {
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  #slide_controls h2 {
    font-size: 2rem;
  }

  #slide_controls {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 813px) and (orientation: landscape) {
  html, body {
    overflow: visible;
  }

  #slider {
    top: 220vh;
  }
}
